API_ID=22449118 # get this value from my.telegram.org
API_HASH=f9db62ff4533a563fcbc09acfa6c902a # get this value from my.telegram.org
BOT_TOKEN=6062201907:AAF-v-6MT9xGJOBnzCvKYjkNHh0zcM4zDLU # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Bikash:Bikash@bikash.yl2nhcy.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001920850656 # get this value from in your log group 
MUSIC_BOT_NAME=jassica # your music bot name 
STRING_SESSION=BQBj2sIYxoo52I6u_I30bqd_5fn6QtTSfbuoGCK0oEoDV9XWuL8_b4bCJoRODOIb_81R9Cd4Gv4qpdclgSiml6GaAuaZzl3wvnUslky3TuZ2k0C9qbt3zwoPcoarOTHCkPKDT4SX4wDBxIGfMNkChfB2t3cFe9FqR_DrvyZ0HD4lFgOjDvULV-jx0zcRpKjdOTUQj-WNS33PXrvj1rwuDbSsbr_OOtRfJ4eInFv-aDVQS8s2KXRSpivljj7Lwg8B015b175NkmwxDZ7DKoIzOXzTG6L2CuekgYfEaA_FxVbj1FucGxCu1sfPc84q92mt1rDs8uOuFUItuDgqF-GJeWiyAAAAAXTeo8sA # get this value fr
